* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to header */

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #304c5c;
}

.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand img {
    height: 200px;
    width: auto;
}

header nav ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    list-style: none;
    padding: 75px 15px 0 0;
}

header nav ul li a {
    margin: 0 25px;
    font-weight: lighter;
    font-size: 1.4vw;
    text-decoration: none;
    color: #9681B6;
}

.hero {
    background-image: url("../images/hero2.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.hero-det h2 {
    padding: 150px 50px 150px 0;
    background: none;
    font-size: 45px;
    color: #304c5c;
}

/* SECTION TITLES STYLING */

.section-title {
    font-size: 48px;
    border: 10px #9681B6;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    color: #304c5c;
  }

.bio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.bio-content {
    width: 75%;
    background: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding: 10px;
    border: #9681B6 10px solid;
    border-radius: 50px;
    margin: 20px;
}

.bio-pic img {
    height: 400px;
    width: auto;
}

.text-left {
    text-align: left;
}